.section{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
  padding: 20px 0;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul{
  margin: 0;
  padding:0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
form{
  height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

input {
    margin: 0;
    outline: none;
    padding: 5px;
    border: 2px solid black;
    font-size: 15px;
    color: dimgrey;
}

button{
    padding: 6px;
    width: 100px;
    outline: none;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid black;
}
li h4 {
    font-size: 25px;
    margin:0 0 5px 0;
}
li{
  padding: 10px 0;
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: center;
}

.danger{
border-color: darkred;
color: darkred;
}
p{
  color: gray;
    font-size: 13px;
    margin: 5px 0;
    text-align: right;
}

.add-todo-button{
  border-left: none;
}


.edit {
      height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit button{
  border-left: none;
}

.button-group{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}
